<div class="background" style="background-image: url({{ section.settings.background | img_url: '2048x' }})">
<div class="page-width">
    <div class="numbers-blocks">
        {%- for block in section.blocks -%}
        <div class="number-block" style="background-color:{{ section.settings.color}}">
            <h4  style="color:{{ section.settings.font}}">{{ block.settings.number }}</h4>
            <p  style="color:{{ section.settings.font}}">{{ block.settings.description }}</p>
        </div>
    {% endfor %}
    </div>
</div>
</div>

{% schema %}
{
  "name": "Social proof",
  "class": "index-section social-proof",
  "max_blocks": 4,
  "settings": [
  {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
  },
  {
      "type": "color",
      "id": "color",
      "label": "Color block",
      "default": "#459696"
  },
  {
      "type": "color",
      "id": "font",
      "label": "Font color",
      "default": "#ffffff"
  }
  ],
  "blocks":[
    {
        "type": "Numbers",
        "name": "Numbers",
        "settings": [
            {
                "type": "text",
                "id": "number",
                "label": "Number"
            },
            {
                "type": "text",
                "id": "description",
                "label": "Description"
            }
        ]
    }
  ]
}
{% endschema %}
