<div class="grid grid--no-gutters image-bar image-bar--{{ section.settings.section_height }}">
    {% case section.blocks.size %}
      {% when 1 %}
        {%- assign column_size = '' -%}
      {% when 2 %}
        {%- assign column_size = 'medium-up--one-half' -%}
      {% when 3 %}
        {%- assign column_size = 'medium-up--one-third' -%}
      {% else %}
        {%- assign column_size = 'medium-up--one-quarter' -%}
    {% endcase %}
  
    {% for block in section.blocks %}
      <div class="grid__item {{ column_size }} js" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}
          <a class="image-bar__link" href="{{ block.settings.link }}">
            <div class="image-bar__item box ratio-container lazyload"
                 data-bgset="{% include 'bgset', image: block.settings.image %}"
                 data-sizes="auto"
                 data-parent-fit="cover"
                 style="background-position: {{ block.settings.alignment }};"
                 data-image-loading-animation>
        {% elsif block.settings.image != blank %}
          <div class="image-bar__item image-bar__item--{{ block.id }} box ratio-container lazyload"
               data-bgset="{% include 'bgset', image: block.settings.image %}"
               data-sizes="auto"
               data-parent-fit="cover"
               style="background-position: {{ block.settings.alignment }};"
               data-image-loading-animation>
        {% else %}
          <div class="image-bar__item">
        {% endif %}
        <div class="image-bar__content{% if block.settings.cta_label != blank or block.settings.link != blank %} image-bar__overlay{% endif %}">
          {% if block.settings.image == blank %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
  
          {% if block.settings.cta_label != blank %}
            <div class="image-bar__text">
              <h3 class="image-bar__caption">{{ block.settings.cta_label | escape }}</h3>
            </div>
          {% endif %}
        </div>
        {% if block.settings.link != blank %}
          </div></a>
        {% else %}
          </div>
        {% endif %}
      </div>
      <noscript>
        <div class="grid__item {{ column_size }}" {{ block.shopify_attributes }}>
          <div class="image-bar__item image-bar__item--{{ block.id }}" style="background-image: url({{ block.settings.image | img_url: '2048x' }});"></div>
        </div>
      </noscript>
    {% endfor %}
  </div>
  
  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  
  
  
  {% schema %}
  {
    "name": "Gallery",
    "class": "index-section index-section--flush",
    "max_blocks": 3,
    "settings": [],
    "blocks": [
        {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
              "type": "select",
              "id": "number",
              "label": "Number",
              "options": [
                  {
                      "value": "1",
                      "label": "1"
                  },
                  {
                    "value": "2",
                    "label": "2"
                  },
                  {
                    "value": "3",
                    "label": "3"
                  }
              ]
          },
          {
            "type": "text",
            "id": "text",
            "label": "Heading"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Brand features",
        "category": "Image"
      }
    ]
  }
  {% endschema %}
  