{% section 'blog-sections3' %}
{% section 'contact' %}
<div class="grid">
    <div class="page-width contact-style">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

            <div class="contact-form form-vertical">
                {% form 'contact', id: formId %}
                {% include 'form-status', form: form, form_id: formId %}

                <div class="grid grid--half-gutters">
                    <div class="grid__item">
                        <label for="contact-{{ section.id }}">First Name</label>
                        <input type="text" id="contact-{{ section.id }}" name="contact[name]" placeholder="Enter your first name" required>
                    </div>

                    <div class="grid__item">
                        <label for="contact-{{ section.id }}">Last Name</label>
                        <input type="text" id="contact-{{ section.id }}" name="contact[last-name]"  placeholder="Enter your last name">
                    </div>

                    <div class="grid__item">
                        <label for="contact-{{ section.id }}">Email</label>
                        <input type="email" id="contact-{{ section.id }}" name="contact[email]" placeholder="Enter your mail"  required>
                    </div>

                </div>

                <label for="contact-{{ section.id }}">Comments</label>
                <textarea rows="10" id="contact-{{ section.id }}" name="contact[message]"  placeholder="Please feel free to submit any questions, comments, concers, and or recipe suggestions." required></textarea>

                <input type="submit" class="btn" value="Submit">

                {% endform %}
            </div>
        </div>
    </div>
</div>